NODE_ENV=development

# port dev env 5000
PORT=5000


# rabbitmq dev env
DEV_REDIS_HOST=localhost
DEV_REDIS_PORT=6379
# rabbitmq prod env
PROD_REDIS_HOST=redis
PROD_REDIS_PORT=


# jwt env
JWT_SECRETKEY_ACCESSTOKEN=4b8e8f4a9b52e8f7e6a9b8e8f4a9b52e8f7e6a9b8e8f4a9b52e8f7e6a9b8e8f
JWT_SECRET_REFRESHTOKEN=f7e6a9b8e8fe8f4a9b52e84a9b52e8f7e6a9b8e8f4b8e8f4a9b52e8f7e6a9b8